[Unit]
Description=Send NVIDIA GPU metrics to graphite
Requires=network.target

[Service]
Restart=always
RestartSec=2min
ExecStart=/usr/local/bin/nvidia2graphite.py

[Install]
WantedBy=multi-user.target
